h1 {
    color : slategray;
    font-size: xx-large;
}

.border{
    background-color: lavender;
}

span{
    display: inline-block;
    position: relative;
}

span:before, span:after{
    position: absolute;
    height: 7px;
    border-bottom: 1px rosybrown;
    border-top: 1px rosybrown;
    top: 0;
    width: 400px;
}

span:before{
    right: 100%;
    margin-right: 15px;
}

span:after{
    left: 100%;
    margin-left: 15px;
}

h2 {
    color : rosybrown;
}

p{
    color : rosybrown;
}

body{
    background-color: seashell;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}