h1 {
    color : slategray;
    font-size: 60px;
    margin-bottom: 5px;
}

h2 {
    color : rosybrown;
    font-size: 20px;
    margin-bottom: 75px;
}

p{
    color : rosybrown;
    font-size: 25px;
}

body{
    background-color: seashell;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    height:50px;
    width: 50px;
    display:grid;
}

.content{
    width: 75%;
    height: 75px;
    border-radius: 25px;
    border-width: 15px;
    border-color: rosybrown;
    border-style: solid;
    background-color: seashell;
    margin-top: 10px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border1{
    margin-left: 50px;
    width: 30%;
    height: 200px;
    background-color: #C9D1DA;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    border-style: solid;
    border-color: slategray;
    border-width: 20px;
}

.border2{
    margin-left: 25px;
    margin-right: 25px;
    width: 30%;
    height: 200px;
    background-color: #C9D1DA;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    border-style: solid;
    border-color: slategray;
    border-width: 20px;
}

.border3{
    margin-right: 50px;
    width: 30%;
    height: 200px;
    background-color: #C9D1DA;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    border-style: solid;
    border-color: slategray;
    border-width: 20px;
}

.group{
    display: flex;
}