h1 {
    color : slategray;
    font-size: x-large;
}

hr{
    width:500%;
    text-align:left;
    margin-left:0;
}

h2 {
    color : rosybrown;
}

p{
    color : rosybrown;
}

body{
    background-color: seashell;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}